@media (min-width: 67rem) {
	.sidebar-drawer.sidebar-drawer,
	.sidebar-container.sidebar-container
	{
		width: max-content;
	}
}

@media (min-width: 84rem) {
	.toc-drawer.toc-drawer
	{
		width: min-content;
		flex-grow: 1;
		padding-right: 0;
	}

}

a.external::after
{
	width: 0.85em;
	height: 0.85em;
	display: inline-block;
	margin-left: 0.3em;
	margin-right: 0.15em;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
	mask-size: cover;
	content: '';
	background: currentcolor;
	break-before: avoid-column;
}

.py a.external[href^="https://docs.python.org/"]::after,
.py a.external[href^="http://docs.python.org"]::after,
a.external[href^="#"]::after,
a.external.image-reference::after
{
	width: 0;
	height: 0;
	margin: 0;
	background: none;
	content: '';
}

a.image-reference
{
    text-decoration: none;
}

a.rfc,
table
{
	font-variant-numeric: tabular-nums;
}

:root dl dt
{
	font-weight: normal;
}

code
{
	white-space: pre;
}

h4, h5, h6
{
	font-weight: 500;
}

kbd.literal
{
	background-color: inherit;
}

table,
table.align-default
{
	margin-left: 2rem;
	margin-right: inherit;
}

table caption
{
	margin: 0 1rem;
	text-align: left;
	font-size: inherit;
}

table caption :first-child::before
{
	content: 'Table: ';
}

th
{
	text-align: left;
}


.admonition.admonition
{
    margin-left: 0;
    margin-right: 0;
}

.command
{
	font-family: monospace;
}

.literal-block-wrapper,
.highlight,
.table-wrapper + .footnote-list
{
    margin-left: 2rem;
	max-width: 44rem;
}

.literal-block-wrapper .highlight
{
	margin-left: inherit;
}

.method
{
    margin-top: 1.5rem;
}

.sig-prename
{
    font-style: italic;
}

.sig-param,
.sig-return
{
	white-space: nowrap;
}

.strike
{
    text-decoration: line-through;
}

.confvar *,
.sievecmd *
{
	color: var(--color-content-foreground);
}

.confvar a,
.sievecmd a,
.confvar a *,
.sievecmd a *
{
    color: var(--color-link);
}

.confvar dt :not(:first-child),
.sievecmd dt :not(:first-child)
{
	font-weight: normal;
}

.confvar dt .k,
.sievecmd dt .k
{
    font-style: italic;
}

.sievecmd dt .s
{
    font-weight: bold;
}
